body
{
    background-color: #e3e0da;
}

.centered-content
{
    padding: 3em;
    background-color: white;
    width: 20em;
    height: 20em;
    margin: 5em;
    margin-left: 7em;
    border: solid white 4px;
    
}

.but
{
    color: white;
    background-color: rgb(12, 1, 27);
    width: 14em;
    border-radius: 13px;
    border: 0ch;
}

.picture
{
    display: block;
    text-align: center;
    padding-bottom: 3em;
}

.picture img
{
    border-color: white;
}
